<div class="row">
    <div class="col-12">
        <div class="input-group">
            <input type="text" placeholder=" Please enter your search input" class="form-control" [(ngModel)]="fields.orderName">
            <div class="input-group-btn">
                <button class="btn btn-default" (click)="openSearchPopup()"><i class="fa fa-chevron-down " aria-hidden="true "></i></button>
            </div>
            <div class="input-group-btn">
                <button class="btn btn-primary" (click)="serachResults()">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="search-popup" [hidden]="!flag">
    <div>
        <label>Name:</label>
        <input type="text" class="form-control" [(ngModel)]="fields.orderName" />
    </div>
    <div>
        <label>Start Date:</label>
        <div>
            <date-picker [(date)]="fields.orderStartDate"></date-picker>
        </div>
    </div>
    <div>
        <label>End Date:</label>
        <div>
            <date-picker [(date)]="fields.orderEndDate"></date-picker>
        </div>
    </div>
    <div>
        <label>Last Modified Date:</label>
        <div>
            <date-picker [(date)]="fields.lastModifiedDate"></date-picker>
        </div>
    </div>
    <div>
        <label>Description:</label>
        <input type="text" class="form-control" [(ngModel)]="fields.orderDescription" />
    </div>
    <div>
        <label>Status:</label>
        <select class="search-select" [(ngModel)]="fields.orderStatus">
            <option value=""> Select Order Status</option>
            <option value="Complete">Complete</option>
            <option value="Incomplete">Incomplete</option>
            <option value="Packaged">Packaged</option>
        </select>
    </div>
</div>
<div class="silk-screen" *ngIf="flag" (click)="hidePopup()"></div>
