<div class="container margin-top-10">
    <div class="row">
        <div class="col-6 ">
            <div class="form-group">
                <label>Rule Name:</label>
                <input type="text" class="form-control" id="ruleName" [(ngModel)]="rule.ruleName">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Content Type:</label>
                <p>
                    <select class="form-control" [(ngModel)]="rule.ruleContentTypeMappingDTO.contentTypeId" (change)="setcontentType($event.target)">
                        <!-- <option [value]="undefined">Select Content Type </option> -->
                        <option *ngFor="let contentType of contentTypes" [ngValue]="contentType.contentTypeId">{{contentType.contentTypeName}}</option>
                    </select>
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
            </div>
        </div>
    </div>
    <div class=" row ">
        <div class="col-12 ">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Required</th>
                        <th>Translatable</th>
                        <th>Max Char</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of allFields">
                        <td> {{field.fieldName}}</td>
                        <td>
                            <input type="checkbox" name="PPA" class="chkbox" [(ngModel)]="field.required" />
                        </td>
                        <td>
                            <input type="checkbox" name="PPA" class="chkbox" [(ngModel)]="field.translatable" />
                        </td>
                        <td style="width:20%">
                            <input type="text" class="form-control" id="usr" [(ngModel)]="field.maxChar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class=" row btn-group">
        <div class="col-12 ">
            <button class="btn btn-default" (click)="goBack()">Back</button>
            <button class="btn btn-primary" (click)="editBundle()">Save</button>
        </div>
    </div>
