<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search Bundle" [(ngModel)]="searchBundleName">
            </div>
        </div>
        <div class="col-6">
            <div class="text-right">
                <button class="btn btn-primary" routerLink="../create-bundle">Create New Bundle</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Bundle Name</th>
                        <th>Creation Date</th>
                        <th>Last Modified Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bundle of bundles | filterBundle:searchBundleName; let i = index; ">
                        <td>{{bundle.bundleName}}</td>
                        <td>{{bundle.creationDate |date}}</td>
                        <td>{{bundle.lastModifiedDate |date}}</td>
                        <td><a [routerLink]="['../view-bundle',bundle.bundleId]">View</a> | <a [routerLink]="['bundle-list']" (click)="deleteBundle(i)">Delete</a></td>
                    </tr>
                    <tr *ngIf="!bundles">
                        <td colspan="5" style="text-align:center"><b>No data available.</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
