<ecms-accordion-container>
    <ecms-accordion title="thales-vod-test">
        <div class="row format-row">
            <div class="col-6">
                <table>
                    <tr>
                        <td width="200px" class="pull-left">title :</td>
                        <td>thalesvodtest</td>
                    </tr>
                    <tr>
                        <td class="pull-left">description :</td>
                        <td>thales-vod-test</td>
                    </tr>
                    <tr>
                        <td class="pull-left">CONTENT_TYPE :</td>
                        <td>Test File</td>
                    </tr>
                    <tr>
                        <td class="pull-left">PRIORITY :</td>
                        <td>doco</td>
                    </tr>
                    <tr>
                        <td class="pull-left">ACTIVATION_PERIOD :</td>
                        <td>JUL</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <fieldset>
                    <legend>File</legend>
                    <table>
                        <tr>
                            <td width="200px" class="pull-left">name :</td>
                            <td>03201405292317034000.mpg</td>
                        </tr>
                        <tr>
                            <td class="pull-left">FILE_TYPE :</td>
                            <td>Media</td>
                        </tr>
                        <tr>
                            <td class="pull-left">DESTINATION :</td>
                            <td>DSU</td>
                        </tr>
                        <tr>
                            <td class="pull-left">size :</td>
                            <td>369856536</td>
                        </tr>
                        <tr>
                            <td class="pull-left">md5 :</td>
                            <td>0123456789ABCDEF0123456789ABCDEF</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </ecms-accordion>
    <ecms-accordion title="thales-vod-test">
        <div class="row format-row">
            <div class="col-6">
                <table>
                    <tr>
                        <td width="200px" class="pull-left">title :</td>
                        <td>thalesvodtest</td>
                    </tr>
                    <tr>
                        <td class="pull-left">description :</td>
                        <td>thales-vod-test</td>
                    </tr>
                    <tr>
                        <td class="pull-left">CONTENT_TYPE :</td>
                        <td>Test File</td>
                    </tr>
                    <tr>
                        <td class="pull-left">PRIORITY :</td>
                        <td>doco</td>
                    </tr>
                    <tr>
                        <td class="pull-left">ACTIVATION_PERIOD :</td>
                        <td>JUL</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <fieldset>
                    <legend>File</legend>
                    <table>
                        <tr>
                            <td width="200px" class="pull-left">name :</td>
                            <td>03201405292317034000.mpg</td>
                        </tr>
                        <tr>
                            <td class="pull-left">FILE_TYPE :</td>
                            <td>Media</td>
                        </tr>
                        <tr>
                            <td class="pull-left">DESTINATION :</td>
                            <td>DSU</td>
                        </tr>
                        <tr>
                            <td class="pull-left">size :</td>
                            <td>369856536</td>
                        </tr>
                        <tr>
                            <td class="pull-left">md5 :</td>
                            <td>0123456789ABCDEF0123456789ABCDEF</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </ecms-accordion>
    <ecms-accordion title="thales-vod-test">
        <div class="row format-row">
            <div class="col-6">
                <table>
                    <tr>
                        <td width="200px" class="pull-left">title :</td>
                        <td>thalesvodtest</td>
                    </tr>
                    <tr>
                        <td class="pull-left">description :</td>
                        <td>thales-vod-test</td>
                    </tr>
                    <tr>
                        <td class="pull-left">CONTENT_TYPE :</td>
                        <td>Test File</td>
                    </tr>
                    <tr>
                        <td class="pull-left">PRIORITY :</td>
                        <td>doco</td>
                    </tr>
                    <tr>
                        <td class="pull-left">ACTIVATION_PERIOD :</td>
                        <td>JUL</td>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <fieldset>
                    <legend>File</legend>
                    <table>
                        <tr>
                            <td width="200px" class="pull-left">name :</td>
                            <td>03201405292317034000.mpg</td>
                        </tr>
                        <tr>
                            <td class="pull-left">FILE_TYPE :</td>
                            <td>Media</td>
                        </tr>
                        <tr>
                            <td class="pull-left">DESTINATION :</td>
                            <td>DSU</td>
                        </tr>
                        <tr>
                            <td class="pull-left">size :</td>
                            <td>369856536</td>
                        </tr>
                        <tr>
                            <td class="pull-left">md5 :</td>
                            <td>0123456789ABCDEF0123456789ABCDEF</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </ecms-accordion>
</ecms-accordion-container>
