$selectedColor:#5DBFD4;
$appHoverColor:#69A3B9;
$appHeaderHeight:30px;
.thales-header {
    min-height: $appHeaderHeight !important;
    height: $appHeaderHeight !important;
    margin-left: 0px;
    font-size: 12px;
}

.tab-content {
    position: absolute;
    top: 155px;
    bottom: $appHeaderHeight;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}

.notification-icons {
    position: absolute;
    height: $appHeaderHeight;
    right: 0px;
    top: 5px;
}

.thales-icon {
    padding-top: 5px;
}

.notification-icons a {
    padding: 10px 3px;
    color: #fff;
}

.notification-icons a:hover {
    background: #5B606E !important;
    color: #fff;
}

.notification-icons a i {
    font-style: normal;
    font-size: 12px;
    padding: 3px 3px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.notification-icons a i:hover {
    border: 2px solid #db5454;
}

.ecms-header {
    width: 100% !important;
    height: $appHeaderHeight;
}

.header-icons {
    height: 28px;
    margin-right: -14px !important;
}

.header-icons li a i {
    font-size: 12px;
    padding: 2px;
    border-radius: 20px;
    border: 2px solid transparent;
}

.header-icons li a.navbar-brand {
    margin-left: 0px !important;
    height: 22px;
    padding: 4px !important;
}

.notification-wrapper {
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 100000;
    background: rgba(37, 55, 70, 0.98);
}

.notification-container {
    display: inline-block;
    padding: 10px;
    margin: 10% 10%;
    color: #fff;
    width: 80%;
}

.notification-container h3 {
    margin-bottom: 50px;
}

.notifi-items {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
}

.notifi-items p {
    border-bottom: 1px solid #3a4550;
    padding-bottom: 8px !important;
    font-size: 12px;
}

.thales-footer a i {
    color: $selectedColor !important;
}

.popup-close {
    position: absolute;
    top: 2px;
    right: 15px;
    font-size: 22px;
    color: rgba(236, 33, 33, 0.85);
    cursor: pointer;
}

.thales-footer a {
    color: #FFF !important;
    font-size: 12px;
    text-decoration: none !important;
    cursor: pointer;
    padding: 8px 0px;
}

.thales-footer a i {
    font-style: normal;
}

.thales-footer a:hover {
    color: #C2C6C9 !important;
}

.thales-footer a.serach {
    float: left;
}

.thales-footer a.ticket,
.thales-footer a.share {
    float: right;
}

.thales-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px 10px;
    z-index: 10;
    width: 100%;
}

.thales-footer,
.thales-header {
    background: #253746 !important;
    color: #FFF;
}

.thales-header-bottom {
    margin-top: 0px !important;
    background: #DDE4EC !important;
    border-bottom: 1px solid #FFF;
    height: 100px !important;
    background: #394A57 !important;
}

.logo {
    padding: 5px 4px;
    border-radius: 20px;
    background: $selectedColor;
    color: #000;
    font-size: 10px;
    margin-right: 10px;
    line-height: 10px;
    min-height: 10px;
    display: inline-table;
    margin-top: 2px;
    text-align: center;
}

.nav-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.nav-container div h1 {
    color: #fff !important;
    margin: 0px 0px;
    font-size: 20px !important;
    display: inline-flex;
    margin-top: 15 px;
    vertical-align: middle;
}

.headerLinksBelow li {
    margin: 0px !important;
    padding: 0px !important;
    border: 1px solid $selectedColor;
    border-radius: 0px !important;
    border-right: 0px !important;
    min-width: 160px !important;
    list-style-type: none !important;
    float: left;
}

.headerLinksBelow li a {
    padding: 6px !important;
    border-radius: 0px !important;
    color: #fff;
}

.headerLinksBelow {
    margin-top: 10px;
    display: inline-block;
}

.activeTab {
    background: $selectedColor !important;
}

.headerLinksBelow li a.activeTab {
    color: #FFF !important;
}

.headerLinksBelow li.activeTab {
    color: #FFF !important;
}

.headerLinksBelow li:hover {
    color: #FFF !important;
}

.headerLinksBelow li:hover {
    color: #FFF !important;
    background: $appHoverColor !important;
}

.headerLinksBelow li:first-child {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.headerLinksBelow li:last-child {
    border-right: 1px solid $selectedColor !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.breadcrumb-container {
    background-color: #465562;
    margin-top: -2px;
}

.airline-container {
    padding: 6px 10px;
    font-size: 12px;
    position: absolute;
    right: 100px;
    span {
        color: #fff;
        font-size: 13px;
    }
    a {
        /*  color:#db5454; */
        color: #fff;
        border-radius: 5px;
        background: rgba(67, 76, 101, 0.91);
        padding: 2px 4px;
        margin-left: 5px;
        cursor:pointer;
    }
}

.select-airline-popup {
    padding: 5% 8%;
    text-align: center;
    h2 {
        text-align: center;
        margin: 10px;
    }
}

.app-container {
    padding: 15px 0;
}
