<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search ContentType" [(ngModel)]="filterContentType">
            </div>
        </div>
        <div class="col-6">
            <div class="text-right">
                <button type="button" class="btn btn-primary" routerLink="../create-content">Create New Content Type</button>
            </div>
        </div>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ContentType Name</th>
                    <th>Creation Date</th>
                    <th>Last Modified Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contentType of contentTypeList | FilterContentType:filterContentType; let i = index">
                    <td>{{contentType.contentTypeName}}</td>
                    <td>start date</td>
                    <td>Last Modified Date</td>
                    <td><a (click)="editContentType(i)">View</a> | <a [routerLink]="['../content-type/content-type']" (click)="deleteContentType(i)">Delete</a></td>
                </tr>
                <tr *ngIf="!contentTypeList">
                    <td colspan="5" style="text-align:center"><b>No data available.</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
