<div class="conatiner">
    <div class="bundle-container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Bundle Name:</label>
                    <input class="form-control" type="text" [(ngModel)]="bundle.bundleName">
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Select Routes/Route Groups</label>
                    <p>
                        <multi-select></multi-select>
                    </p>
                </div>
            </div>
            <div class="col-2">
                <button type="text" class="btn btn-primary add-routes">Add Routes</button>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Select Class</th>
                            <th>Price For PPA</th>
                            <th>Price For PPV</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mapings of bundle.seatingClassPriceMappings; let i = index;">
                            <td width="20%">
                                <select class="form-control" [(ngModel)]="mapings.seatingClassId">
                                    <option *ngFor="let seatingClass of seatingClasses" [ngValue]="seatingClass.seatingClassInternalId">{{seatingClass.name}}</option>
                                </select>
                            </td>
                            <td width="20%">
                                <input type="text" class="form-control" id="ppaField" [(ngModel)]="mapings.ppa">
                            </td>
                            <td width="20%">
                                <input type="text" class="form-control" id="ppvField" [(ngModel)]="mapings.ppv">
                            </td>
                            <td width="1%" class="removeForm" (click)="removeSeatingClassPriceMappings(i)"><i class="fa fa-minus-circle fa-2x color-red" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="text-align: right">
            <div class="col-12">
                <button type="text" class="btn btn-add" (click)="addSeatingClassPriceMappings()">Add Seating Class</button>
            </div>
        </div>
        <div class="row btn-group">
            <div class="col-12">
                <button type="text" class="btn btn-default" routerLink="../../bundle">Back</button>
                <button type="text" class="btn btn-primary" (click)="saveBundle()">Submit</button>
            </div>
        </div>
    </div>
</div>
