<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let displayGroup of order?.displayGroupList">
            <td>{{displayGroup.month}}</td>
            <td>{{displayGroup.month}}</td>
            <td>{{displayGroup.startDate | date}}</td>
            <td>{{displayGroup.endDate | date}}</td>
        </tr>
    </tbody>
</table>
