.bundle-container {
    margin: 20px;
}

.add-routes {
    margin-top: 25px;
}

.chkbox {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.submit-bundle {
    float: right;
}

.btn-group {
    float: right;
    padding: 50px 0px 10px 10px;
}

.btn-add {
    background-color: #5cb85c;
    color: #fff;
    margin-right: 45px;
}

.color-red {
    color: red;
    padding-top: 5px;
}

.removeForm {
    cursor: pointer;
}
