<div class="container view-order-page">
    <div class="row">
        <div class="col-12">
            <ecms-accordion-container>
                <ecms-accordion title="Order Properties">
                    <div class="container">
                        <div class="row accordian">
                            <div class="col-6">
                                <p> <b>Order Name: </b>{{order?.orderName}}</p>
                                <p> <b>Start Date: </b>{{order?.orderStartDate | date}}</p>
                                <p> <b>Content Deadline: </b>{{order?.contentDeadline | date}}</p>
                                <p> <b>Order Description: </b>{{order?.orderDescription}}</p>
                            </div>
                            <div class="col-6">
                                <p> <b>Order Status: </b>{{order?.orderStatus}}</p>
                                <p> <b>End Date: </b>{{order?.orderEndDate | date}}</p>
                                <p> <b>Shipment Deadline: </b>{{order?.shipmentDeadline | date}}</p>
                                <p> <b>Asset Deadline: </b>{{order?.assetDeadline | date}}</p>
                            </div>
                        </div>
                    </div>
                </ecms-accordion>
            </ecms-accordion-container>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ecms-accordion-container>
                <ecms-accordion title="Display Groups">
                    <div class="container-fluid">
                        <div class="row accordian">
                            <div class="col-12">
                                <display-group [order]="order"></display-group>
                            </div>
                        </div>
                    </div>
                </ecms-accordion>
            </ecms-accordion-container>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ecms-accordion-container>
                <ecms-accordion title="Configuration List & Titles currently in Configuration">
                    <div class="container-fluid">
                        <div class="row accordian">
                            <div class="col-12">
                                <view-title [order]="order"></view-title>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </ecms-accordion>
            </ecms-accordion-container>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary pull-right setposition" [routerLink]="['../../edit',orderId]">Edit Order</button>
        </div>
    </div>
</div>
