.list-container{
	border:1px solid #ddd;
	margin:0;
	height:200px;
	overflow-y:auto;
	li{
		list-style:none;
		padding:2px 5px;
		margin-bottom:1px;
		background-color: #ddd;
		cursor:pointer;
		&:hover{
			background-color: #eee;
		};
		&.active{
			background-color: #1468a0;
			color: #fff;
		}
	}
}

.ms-choice{
	height: 35px !important;
	border-radius: 0;
	padding:10px 10px;
	.placeholder{
		padding:6px 10px !important;
	}
}
.ms-choice > div {
   
    top: 6px;
}