<div class="serach-page">
    <div class="row">
        <div class="col-6 search-text">
            <search-component (onSearch)="handlerSearch($event)">
            </search-component>
        </div>
    </div>
    <div class="search-results col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th (click)="changeSortField('orderName')">Name <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='orderName', 'fa-angle-down':sortField=='!orderName'}" aria-hidden="true"></i></th>
                    <th (click)="changeSortField('orderDescription')">Description <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='orderDescription', 'fa-angle-down':sortField=='!orderDescription'}" aria-hidden="true"></i></th>
                    <th (click)="changeSortField('orderStartDate')">Start Date <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='orderStartDate', 'fa-angle-down':sortField=='!orderStartDate'}" aria-hidden="true"></i></th>
                    <th (click)="changeSortField('orderEndDate')">End Date <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='orderEndDate', 'fa-angle-down':sortField=='!orderEndDate'}" aria-hidden="true"></i></th>
                    <th (click)="changeSortField('lastModifiedDate')">Last Modified Date<i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='lastModifiedDate', 'fa-angle-down':sortField=='!lastModifiedDate'}" aria-hidden="true"></i></th>
                    <th (click)="changeSortField('orderStatus')">Status <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':sortField=='orderStatus', 'fa-angle-down':sortField=='!orderStatus'}" aria-hidden="true"></i></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders|filterOrder:filter.orderName:filter.orderStartDate:filter.orderEndDate:filter.orderDescription:filter.orderStatus | orderby:sortField">
                    <!--<tr *ngFor="let order of orders">-->
                    <td>{{order.orderName}}</td>
                    <td>{{order.orderDescription}}</td>
                    <td>{{order.orderStartDate|date}}</td>
                    <td>{{order.orderEndDate|date}}</td>
                    <td>{{order.lastModifiedDate | date}}</td>
                    <td>{{order.orderStatus}}</td>
                    <td><a [routerLink]="['../view',order.orderId]">View</a> | <a [routerLink]="['../copy',order.orderId]">Copy</a></td>
                </tr>
                <tr *ngIf="!orders.length">
                    <td colspan="5" style="text-align:center"><b>No data available.</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
