.main-container {
  margin: 0% 0% 0% 0%;

  .sample {
    background-color: #4cae4c;
  }
  .content-wrapper {
    display: block;

    //.content-wrapper__nav {
    //  flex: 1;
    //  background: #394A57;
    //  margin-left: 3%;
    //  width: 235px;
    //  h4{
    //    text-align: center;
    //    color: #FFFFFF;
    //  }
    //}

    .content-wrapper__table-container {
      flex: 5;
      text-align: center;
      margin-left: 1%;
    }
    table {
      width: 100%;
    }
    th {
      padding: 1% 0% 1% 0%;
      color: #002E4D;
      text-align: center;
      width: 200px !important;
    }

    table tbody tr:hover {
      background-color: #4DBFD4;
    }

    tr {
      border-top: 4px solid #fff;
      background: #F1F1F0;
    }
    //tr:nth-child(even) {
    //  background: #f9f9f9;
    //}

    //thead tr {
    //  background: #aaa;
    //}
    .content-wrapper__table {
      overflow-x: scroll;
      margin: 0% 2% 0% 2%;
      button {
        border: solid;
        background-color: #394A57;
        color: #FFFFFF;
        cursor: pointer;
        padding: 1%;
        border-radius: 15%;
      }
    }

    .filter-list {
      text-align: center;
      color: #FFFFFF;
    }

  }

  .dialog-header {
    margin: 0% 0 0% 0;
    padding: 1%;
    background-color: #F6F6F6;
    color: #394A57;
  }

  .content-upload-btn {
    background-color: #5DBFD4;
    border: none;
    border-radius: 5%;
    padding: 1%;
  }

  .upload-content {
    padding: 1% 5% 0% 5%;
  }

  .btn-close {
    margin: 0% 0% 1% 0%;
    padding: 1%;
    border: none;
    border-radius: 5%;
  }

  #config-selection {
    display: inline-flex;
    text-align: center;
    vertical-align: top;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      width: 100%;
    }
    li {
      display: table-cell;
      width: 20%;
      margin: 0% 10% 0% 1%;
    }
    button:active {
      background-color: #4DBFD4;
      color: #FFFFFF;
    }
    //select:hover{
    //  background-color: #F6F6F6;
    //}

    .ingestion-btn1 {
      width: 26%;
      margin-left: 37%;
    }


    #showFileSelector{
      display: none;
    }


    select {
      background-color: #FFFFFF;
      color: #5DBFD4;
      border-radius: 2px;
      option {
        background-color: #FFFFFF;
        color: #5DBFD4;
      }
    }

    option:hover {
      background-color: red !important;
    }

    //select:active{
    //  background-color: #4DBFD4;
    //}
    select:hover {
      background-color: #DDE4EC;
      color: black;
    }
  }
  .ingestion-btn {
    border: solid;
    border-width: thin;
    margin: 1%;
    width: 60%;
    border-radius: 2px;
    padding: 3%;
    background-color: white;
    color: #394A57
  }


  .ingestion-search {
    text-align: center;
    #mainSerach {
      width: 300px;
    }
    .button {
      padding: 0.8em;
    }
    .serach-popup {
      width: 29%;
      padding: 5px 5px 0 0;
      .leftspan .name {
        width: 100%;
      }
    }
  }

  .view-header{
    text-align: center;
  }

}
