<div class="main-container">
  <!--<h1 class="sample">Ingestion</h1>-->
  <!--<h3 class="ingestion-history">Recent Files</h3>-->
  <!--<h4 class="view-header">Title Ingestion</h4>-->
  <div class="ingestion-search">
    <!--<ingestion-search-component>-->
      <div id="config-selection" class="row">
        <ul>
          <!--<li>-->
            <!--<div>-->
              <!--<select class="ingestion-btn1">-->
                <!--<option selected disabled>Select Configuration</option>-->
                <!--<option *ngFor="let config of showConfig" [value]="config.value">{{config.configurationName}}</option>-->
              <!--</select>-->
            <!--</div>-->
          <!--</li>-->

          <li class="col-6">
            <div>
              <button (click)="showDialog = !showDialog ; getMyConfig()" class="ingestion-btn">Upload</button>
            </div>
            <app-dialog [(visible)]="showDialog">
              <h4 class="dialog-header"><img src="">Upload Content</h4>
              <div class="upload-content">
                <!--<button (click)="showLocal()" class="content-upload-btn">Local File</button>-->

                <div class="ingestion-btn1">
                  <select #configVal (change)="callType(configVal.value)">
                    <option selected disabled>Select Configuration</option>
                    <option *ngFor="let config of showConfigRes" [value]="config.configurationId">{{config.configurationName}}</option>
                  </select>
                </div>


                <div id="showFileSelector">
                  <app-upload-local [testUrl]="testSelectedUrl"  (closeDialog)="closeDialog($event);" (sendUploadedData)="showUploadedData($event);"></app-upload-local>
                </div>
              </div>
              <button (click)="showDialog = !showDialog" class="btn btn-close">Close</button>
            </app-dialog>
          </li>
          <li class="col-6">
            <div>
              <button class="ingestion-btn">Export Template</button>
            </div>
          </li>
        </ul>
      </div>
    <!--</ingestion-search-component>-->
  </div>

  <router-outlet></router-outlet>

</div>

