<div class="row definition-component">
    <div class="col-12">
        <ecms-accordion-container>
            <ecms-accordion title="CONTENT TYPE">
                <div class="row format-row">
                    <div class="col-2">Content Types :</div>
                    <div class="col-10 content-types">
                        <span>3dmap</span>
                        <span>Applications</span>
                        <span>Assets</span>
                        <span>DTIapps</span>
                        <span>News</span>
                        <span>PaxGui_Content</span>
                        <span>PaxGui_Metadata</span>
                        <span>SIF</span>
                        <span>Test File</span>
                        <span>aod</span>
                        <span>cilitem</span>
                        <span>doca</span>
                        <span>docc</span>
                        <span>docd</span>
                        <span>doce</span>
                        <span>docf</span>
                        <span>doch</span>
                        <span>doci</span>
                        <span>docj</span>
                        <span>dock</span>
                        <span>docl</span>
                        <span>docm</span>
                        <span>doco</span>
                        <span>docq</span>
                        <span>docr</span>
                        <span>eManga_Content</span>
                        <span>eMealMenu_Content</span>
                        <span>eReader_Content</span>
                        <span>eShopping_Content</span>
                        <span>game Content</span>
                        <span>logo</span>
                        <span>resico</span>
                        <span>sifaud</span>
                        <span>sifbgm</span>
                        <span>sifpram</span>
                    </div>
                </div>
            </ecms-accordion>
            <ecms-accordion title="FILE TYPE ">
                <div class="row format-row">
                    <div class="col-2 ">File Types :</div>
                    <div class="col-10 content-types ">
                        <span>Media</span>
                        <span>Metadata</span>
                        <span>SIF</span>
                    </div>
                </div>
            </ecms-accordion>
            <ecms-accordion title="PRIORITY ">
                <div class="row format-row">
                    <table>
                        <tr>
                            <td width="200px " class="text-right ">Default :</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td class="text-right ">High :</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
            </ecms-accordion>
            <ecms-accordion title="DESTINATION ">
                <div class="row format-row">
                    <div class="col-2 ">Destinations :</div>
                    <div class="col-10 content-types ">
                        <span>DSU</span>
                        <span>DSUC</span>
                        <span>AVCD</span>
                        <span>SVDU</span>
                        <span>TPMU2</span>
                        <span>TPMU</span>
                        <span>TPMU</span>
                        <span>OVH</span>
                    </div>
                </div>
            </ecms-accordion>
            <ecms-accordion title="ACTIVATION PERIOD ">
                <div class="row format-row">
                    <div class="col-12">
                        <table class="table-row-seperator">
                            <tr>
                                <td class="text-right ">JUL</td>
                                <td>
                                    <table class="remove-margin-bottom ">
                                        <tr>
                                            <td width="200px " class="text-right ">START_DATE</td>
                                            <td>2016-07-01T00:00:00Z</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right ">END_DATE</td>
                                            <td>2016-08-01T00:00:00Z</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td width="200px " class="text-right ">Aug</td>
                                <td>
                                    <table class="remove-margin-bottom ">
                                        <tr>
                                            <td width="200px " class="text-right ">START_DATE</td>
                                            <td>2016-08-01T00:00:00Z</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right ">END_DATE</td>
                                            <td>2016-09-01T00:00:00Z</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right ">Sept</td>
                                <td>
                                    <table class="remove-margin-bottom ">
                                        <tr>
                                            <td width="200px " class="text-right ">START_DATE</td>
                                            <td>2016-09-01T00:00:00Z</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right ">END_DATE</td>
                                            <td>2016-10-01T00:00:00Z</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ecms-accordion>
        </ecms-accordion-container>
    </div>
</div>
