.content-types {
    span {
        font-size: 12px;
        padding: 4px 8px;
        background: #f5f3f3;
        margin: 2px;
        display: inline-flex;
    }
}

.table-row-seperator > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid #ddd;
}

.definition-component {
    margin-top: 20px;
    margin-bottom: 20px;
}

.format-row {
    border: 1px solid #000;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 10px 10px;
}
