<div class="row">
    <div class="col-2">
        <nav class="nav flex-column nav-pills nav-justified">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['order']">Create Order</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['search']">Search Order</a>
            <a class="nav-link" *ngIf="isActiveCopyOrder" [routerLinkActive]="['active']" [routerLink]="['copy']">Copy Order</a>
            <a class="nav-link" *ngIf="isActiveEditOrder" [routerLinkActive]="['active']" [routerLink]="['edit']">Edit Order</a>
        </nav>
    </div>
    <div class="col-10 tab-container">
        <div class="panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
