<div [@dialog] *ngIf="visible" class="dialog" id="tempComp">
    <ng-content></ng-content>
    <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="onClickOutSide()"></div>

