<!--<script src="upload-local.component.ts"></script>-->

<div class="container">

    <!--<div class="navbar navbar-default">-->
      <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href>Angular2 File Upload</a>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row" id="dialog-container">

      <div>

        <!--<h3 class="custom-text">Select files</h3>-->

        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
          Drop Your Files Here
<br>

          <div class="file-details">
            <input type="file" ng2FileSelect [uploader]="uploader" />

            <!--<div class="col-md-9" style="margin-bottom: 40px">-->

            <!--<h3>Upload queue</h3>-->
            <!--<p>Queue length: {{ uploader?.queue?.length }}</p>-->

            <div *ngFor="let item of uploader.queue; let rowIndex = index" >
              <!--<button-->
                      <!--(click)="item.upload();closeDialogBox(item,rowIndex);" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
                <!--<span class="glyphicon glyphicon-upload"></span>-->
                <!--<a [routerLinkActive]="['active']" [routerLink]="['job-list']">Upload</a>-->
              <!--</button>-->

              {{item?.file?.name}}

              <button
                (click)="item.upload();fileValidator(item);removeRow(rowIndex) "  [disabled]="item.Ready || item.isUploading || item.isSuccess" class="btn btn-primary">
                <!--<a [routerLinkActive]="['active']" [routerLink]="['job-list']">Upload</a>-->
                Upload
              </button>


              <button type="button" (click)="item.remove()" class="btn btn-danger"> Remove </button>

                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>

                <div *ngIf="item.isSuccess"><h4>Upload Success!</h4></div>
            </div>

        </div>

        </div>

        <!--<div ng2FileDrop-->
             <!--[ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"-->
             <!--(fileOver)="fileOverAnother($event)"-->
             <!--[uploader]="uploader"-->
             <!--class="well my-drop-zone">-->
          <!--Another drop zone-->
        <!--</div>-->

        <!--Multiple-->
        <!--<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>-->
<br>
        <!--Browse-->
      </div>


      <!--<div class="file-details">-->
      <!--<input type="file" ng2FileSelect [uploader]="uploader" />-->

      <!--&lt;!&ndash;<div class="col-md-9" style="margin-bottom: 40px">&ndash;&gt;-->

        <!--&lt;!&ndash;<h3>Upload queue</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<p>Queue length: {{ uploader?.queue?.length }}</p>&ndash;&gt;-->

      <!--<div *ngFor="let item of uploader.queue; let rowIndex = index" id="try">-->
        <!--<button type="button"-->
                <!--(click)="item.upload();closeDialogBox(item,rowIndex);" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
          <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
        <!--</button>-->

        <!--<button type="button"-->
                <!--(click)="item.remove()">-->
          <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
        <!--</button>-->
      <!--</div>-->

<!--<table class="table">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th width="50%">Name</th>-->
    <!--<th>Size</th>-->
    <!--<th>Progress</th>-->
    <!--&lt;!&ndash;<th>Status</th>&ndash;&gt;-->
    <!--<th>Actions</th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <!--<tr *ngFor="let item of uploader.queue">-->
    <!--&lt;!&ndash;<td><strong>{{ item?.file?.name }}</strong></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>&ndash;&gt;-->
    <!--<td *ngIf="uploader.isHTML5">-->
      <!--<div class="progress" style="margin-bottom: 0;">-->
        <!--<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>-->
      <!--</div>-->
    <!--</td>-->

    <!--<td class="text-center">-->
      <!--<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
      <!--<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>-->
      <!--<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>-->
    <!--</td>-->

    <!--<td nowrap>-->
      <!--<button type="button" class="btn btn-success btn-xs"-->
              <!--(click)="item.upload();closeDialogBox(item);" [disabled]="item.isReady || item.isUploading || item.isSuccess">-->
        <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-warning btn-xs"-->
              <!--(click)="item.cancel()" [disabled]="!item.isUploading">-->
        <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-danger btn-xs"-->
              <!--(click)="item.remove()">-->
        <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
      <!--</button>-->
    <!--</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<!--<div>-->
  <!--<div>-->
    <!--Queue progress:-->
    <!--<div class="progress" style="">-->
      <!--<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<button type="button" class="btn btn-success btn-s"-->
          <!--(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
    <!--<span class="glyphicon glyphicon-upload"></span> Upload all-->
  <!--</button>-->
  <!--<button type="button" class="btn btn-warning btn-s"-->
          <!--(click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">-->
    <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel all-->
  <!--</button>-->
  <!--<button type="button" class="btn btn-danger btn-s"-->
          <!--(click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">-->
    <!--<span class="glyphicon glyphicon-trash"></span> Remove all-->
  <!--</button>-->
<!--</div>-->

<!--</div>-->

      <!--</div>-->



</div>

</div>
