<div class="row">
    <div class="col col-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Input Parameters</th>
                    <th>Tasks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wfDef of wfDefsList">
                    <td>{{wfDef.name}}</td>
                    <td>no data</td>
                    <td>
                        <span *ngFor="let task of wfDef.tasks"> {{task.name}} &nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>