.header {
    margin-bottom: 0;
    padding: 10px;
    background: #DDE4EC;
    color: #000;
    cursor: pointer;
    h5 {
        display: inline-block;
        margin: 0;
    }
    span {
        float: right;
    }
}
