<div class="row info-component">
    <div class="col-6">
        <table>
            <tr>
                <td class="pull-left">Schema Version:</td>
                <td>1</td>
            </tr>
            <tr>
                <td class="pull-left">Description:</td>
                <td>2-787 M6 INT - JUL Test</td>
            </tr>
            <tr>
                <td class="pull-left">Customer Name:</td>
                <td>Japan Airline</td>
            </tr>
            <tr>
                <td class="pull-left">Customer Code:</td>
                <td>JAL</td>
            </tr>
            <tr>
                <td class="pull-left">Aircraft Type:</td>
                <td>B787</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table>
            <tr>
                <td class="pull-left">Platform:</td>
                <td>AVANT</td>
            </tr>
            <tr>
                <td class="pull-left">First Valid Date:</td>
                <td>2016-06-01T00:00:00Z</td>
            </tr>
            <tr>
                <td class="pull-left">Last Valid Date:</td>
                <td>2017-08-01T00:00:00Z</td>
            </tr>
            <tr>
                <td class="pull-left">Revision:</td>
                <td>1</td>
            </tr>
            <tr>
                <td class="pull-left">Category:</td>
                <td>Monthly</td>
            </tr>
        </table>
    </div>
</div>
