<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search Configuration" [(ngModel)]="filterConfig">
            </div>
        </div>
        <div class="col-6">
            <div class="text-right">
                <button type="button" class="btn btn-primary" routerLink="../create">Create New Configuration</button>
            </div>
        </div>
    </div>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creation Date</th>
                    <th>Last Modified Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conf of configurations | filterConfiguration:filterConfig; let i = index ">
                    <td>{{conf.configurationName}}</td>
                    <td>{{conf.creationDate | date}}</td>
                    <td>{{conf.lastModifiedDate | date}}</td>
                    <td><a [routerLink]="['../edit', conf.configurationId]">View</a> | <a (click)="deleteConfiguration(i)">Delete</a></td>
                </tr>
                <tr *ngIf="!configurations ">
                    <td colspan="5 " style="text-align:center "><b>No data available.</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
