<div class="col-12">
    <span>{{workflowDetail?.workflowType}} / {{workflowDetail?.version}} {{workflowDetail?.status}} </span>
    <button class="btn btn-danger btn-sm">Terminate</button>
    <button class="btn btn-warning btn-sm">Pause</button>
</div>
<div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th>Workflow ID
                </th>
                <th>Owner App
                </th>
                <th>Total Time (sec)
                </th>
                <th>Start/End Time
                </th>
                <th>Correlation ID
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{workflowDetail?.workflowId}}</td>
                <td>{{workflowDetail?.ownerApp}}</td>
                <td>{{getTotalSec(workflowDetail?.endTime, workflowDetail?.startTime)}}</td>
                <td>{{workflowDetail?.startTime|date}} - {{workflowDetail?.endTime?(workflowDetail?.endTime|date):("")}}</td>
                <td>{{workflowDetail?.correlationId}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-12">
    <ngb-tabset>
        <ngb-tab title="Execution Flow">
            <template ngbTabContent>
                <!--<graph></graph>-->
                Flow Chart Area
            </template>
        </ngb-tab>
        <ngb-tab title="Task Details">
            <template ngbTabContent>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Task Type
                            </th>
                            <th>Task Ref. Name
                            </th>
                            <th>Scheduled Time
                            </th>
                            <th>Start/End Time
                            </th>
                            <th>Status
                            </th>
                            <th>Last Polled/Updated
                            </th>
                            <th>Callback After
                            </th>
                            <th>Poll Count
                            </th>
                            <th>Details
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of workflowDetail?.tasks">
                            <td>{{task.taskType}}</td>
                            <td>{{task.taskDefName}}</td>
                            <td>{{task.scheduledTime|date}}</td>
                            <td>{{task.startTime|date}} - {{task?.endTime?(task?.endTime|date):("")}}</td>
                            <td>{{task.status}}</td>
                            <td>{{task.updateTime|date}}</td>
                            <td>{{task.callbackAfterSeconds}}</td>
                            <td>{{task.pollCount}}</td>
                            <td><button class="btn btn-default btn-sm">Input/Output</button></td>
                        </tr>
                    </tbody>
                </table>
            </template>
        </ngb-tab>
        <ngb-tab title="Input/Output">
            <template ngbTabContent>
                <b>Workflow Input</b>
                <pre>{{workflowDetail?.input|json}}</pre>
                <b>Workflow Output</b>
                <pre>{{workflowDetail?.output|json}}</pre>
            </template>
        </ngb-tab>
        <ngb-tab title="JSON">
            <template ngbTabContent>
                <pre>{{workflowDetail|json}}</pre>
            </template>
        </ngb-tab>
    </ngb-tabset>
</div>