table thead tr th,table tbody tr td{
  text-align: center;
  width: 10%;
}

table{
  border: solid gainsboro;
}

table tbody tr:hover{
  background-color: #4DBFD4 !important;
}

button{
  padding: 1%;
  background-color: #F6F6F6;
}

.ingestion-search{
  width: 40%;
}

tfoot tr td{
  padding-bottom: 0px;
}