$brand-primary:#5DBFD4;

/*$body-bg: #e9ecf3;*/

$table-cell-padding: 4px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px !default;
//** Background color used for `.table-striped`.
$table-bg-accent: #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover: #5DBFD4 !default;
$table-bg-active: $table-bg-hover !default;
//** Border color for table and cell borders.
$table-border-color: #ddd !default;
$table-border: 0px !default;
$table-bg:#FFF;
table {
    thead {
        tr {
            th {
                font-size: 12px;
                font-weight: bold;
                border-top: 0 !important;
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 14px;
                border-top: 0 !important;
                a {
                    color: #5DBFD4 !important;
                    cursor: pointer;
                }
            }
        }
    }
    &.table-hover {
        tbody {
            tr {
                &:hover {
                    color: #FFF;
                    a {
                        color: #FFF !important;
                    }
                }
            }
        }
    }
}

.nav-pills {
    .nav-link {
        background-color: #465562;
        padding: 5px 10px;
        margin-bottom: 1px;
        cursor: pointer;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        color: #FFF;
        &.active {
            background-color: #5DBFD4;
        }
        &.active::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 0px 19px 16px;
            border-color: transparent transparent transparent #5DBFD4;
            float: right;
            margin: -5px -26px;
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
html,
body,
.app-content {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
}

.scrollable-content {
    height: calc(100% - 208px);
    overflow-y: scroll;
}

label {
    margin-bottom: 0px;
    font-size: 14px;
}

a {
    color: #5DBFD4;
}

#navbar {
    ul {
        li {
            cursor: pointer;
        }
    }
}

fieldset {
    border: 1px solid #394A57 !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    padding-left: 10px!important;
    margin-top: 20px;
}

legend {
    font-size: 14px;
    margin-bottom: 0px;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #394A57;
    color: #FFF;
}

.ecms-sub-head {
    font-size: 15px;
}

p {
    margin-bottom: 4px;
    font-size: 14px;
}

button {
    cursor: pointer;
}

.ms-choice {
    height: 36px !important;
    border-radius: 0;
    padding: 10px 10px;
    .placeholder {
        padding: 6px 10px !important;
    }
    span {
        padding: 6px 10px;
    }
}

.ms-choice>div {
    top: 5px !important;
}

.ms-parent {
    width: 100% !important;
}

.vertical-center-content {
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .form-inline .input-group {
        width: 100% !important;
    }
    .form-inline .form-group {
        width: 100% !important;
    }
}

input[type="checkbox"] {
    height: 30px;
    width: 15px;
    vertical-align: middle;
}

label.switch-paddle {
    vertical-align: text-top !important;
}

.modal-content {
    .modal-header {
        border-bottom: 0px !important;
        h4,
        h5 {
            font-size: 20px;
        }
        .modal-title {
            text-align: center;
            width: 100%;
        }
    }
    .modal-body {
        text-align: center;
        width: 100%;
    }
    .modal-footer {
        border-top: 0px !important;
        text-align: center;
        margin: 0 auto;
    }
}

.float-right {
    float: right;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-menu {
    padding: 0 0;
    margin-left: -50px;
}

ngb-popover-window{
    min-width:500px !important;
    position:absolute !important;
    width:500px !important; 
    .popover-content{
        padding:0px !important; 
    }
    .custom-content{
        padding:10px;
    }
    .custom-header{
        padding:10px;
        background-color:#eceeef;
       text-align:right;
       color:#333 !important;
    }
 }
 .popover-title{
    text-align:right;
    color:#333 !important;
}
.custom-popover{
    position:fixed;
    padding: 10px;
    z-index:8888888;
  
}
