<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <div class="panel panel-default">
                    <div class="panel-heading">Rule Details</div>
                    <div class="panel-body">
                        <p>
                            <label><b>Bundle Id:</b> {{bundle?.bundleId}}</label>
                        </p>
                        <p>
                            <label><b>Bundle Name:</b> {{bundle?.bundleName}}</label>
                        </p>
                        <p>&nbsp;</p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Seating Class</th>
                                    <th>PPA Price</th>
                                    <th>PPV Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let priceMapping of bundle?.seatingClassPriceMappings">
                                    <td>{{priceMapping.seatingClassName}}</td>
                                    <td>{{priceMapping.ppa}}</td>
                                    <td>{{priceMapping.ppv}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" row btn-group">
    <div class="col-12 ">
        <button class="btn btn-default" [routerLink]="['../../bundle-list']">Back</button>
        <button class="btn btn-primary" [routerLink]="['../../edit-bundle',bundle?.bundleId]">Edit</button>
    </div>
</div>
