.btn-group {
    float: right;
    padding: 10px 0px 10px 10px;
}

.container {
    padding-bottom: 30px;
}

.validations-input {
    input {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        padding: 0px 5px;
    }
}

.btn-add-field {
    margin-top: 10px;
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
}

.form-group {
    margin-bottom: 10px;
}

.panel-default {
    .panel-heading {
        padding: 10px;
        background: #DDE4EC;
        color: #000;
    }
    .panel-body {
        padding: 10px;
        border: 1px solid #ddd;
    }
}

.paddingtop20 {
    padding-top: 20px;
}

.delete-icon {
    position: absolute;
    right: 30px;
    margin: 0;
    padding: 0;
    margin-top: -5px;
    color: red;
}
