<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="contentType" class="col-form-label">Content Type Name:</label>
                <input type="text" class="form-control" id="contentType" placeholder="Please enter Content Type Name" [(ngModel)]="contentTypeList.contentTypeName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="panel panel-default paddingtop20" *ngFor="let field of contentTypeList.fields; let i = index; ">
                <div class="panel-heading">Fields <i (click)="deleteBaseFields(i)" class="fa fa-minus-circle fa-2x delete-icon" aria-hidden="true"></i></div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="fieldName" class="col-form-label text-right">Field Name:</label>
                            <input type="text" class="form-control" id="fieldName" placeholder="Please enter Field Name" [(ngModel)]="field.fieldId">
                            <p>&nbsp;</p>
                            <label for="controlTypes" class="col-form-label text-right">Field Types:</label>
                            <p>
                                <select class="form-control" [(ngModel)]="field.fieldType">
                                    <option *ngFor="let fieldType of fieldTypes" [ngValue]="fieldType"> {{fieldType}}</option>
                                </select>
                            </p>
                        </div>
                        <div class="col-6">
                            <label for="displayName" class="col-form-label text-right">Display Name:</label>
                            <input type="text" class="form-control" id="displayName" placeholder="Please enter Display Name" [(ngModel)]="field.displayName">
                            <p>&nbsp;</p>
                            <label for="controlTypes" class="col-form-label text-right">Selection List Name:</label>
                            <p>
                                <select class="form-control" [(ngModel)]="field.selectionListName">
                                    <option *ngFor="let fieldType of fieldTypes"> {{fieldType}}</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-primary btn-sm btn-add-field" (click)="addBaseFields()">Add Field</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-right">
                <button class="btn btn-default" (click)="goBack()">Back</button>
                <button class="btn btn-primary" (click)="submitContentType()">Submit</button>
            </div>
        </div>
    </div>
</div>
