table thead tr td,table tbody tr td{
  text-align: center;
}

table tbody tr:hover{
  background-color: #4DBFD4 !important;
}

.job-details-container{
  margin: 1% 0% 0% 1%;

  .jd-line{
    border: 2px solid red;
  }
}

table{
  border: solid gainsboro;
}