.panel-default {
    .panel-heading {
        padding: 10px;
        background: #DDE4EC;
        color: #000;
    }
    .panel-body {
        padding: 10px;
        border: 1px solid #ddd;
    }
}

.paddingtop20 {
    padding-top: 20px;
}
