<div class="container">
    <form [formGroup]="configForm" (ngSubmit)="handleFormSubmit()">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="confName">Configuration Name:</label>
                    <input type="text" formControlName="configurationName" class="form-control" id="confName" placeholder="Configuration Name">
                </div>
                <div class="form-group">
                    <label for="platform">Platform:</label>
                    <input type="text" formControlName="platform" class="form-control" id="platform" placeholder="Platform">
                </div>
                <div class="form-group">
                    <label for="packagingType">Packaging Type:</label>
                    <select formControlName="packagingType" class="form-control" id="packagingType">
                        <option>CIL</option>
                        <option>XCIL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="interfaceLang">Interface languages:</label>
                    <multi-select [options]="interfacelanguageOptions" formControlName="interfaceLanguagesId"></multi-select>
                </div>
                <div class="form-group">
                    <label for="lruTypes">LRU Types:</label>
                    <multi-select [options]="lruTypeOptions" formControlName="lruTypesId"></multi-select>
                </div>
                <div class="form-group">
                    <label for="rules">Rules:</label>
                    <multi-select [options]="ruleOptions" formControlName="rulesId"></multi-select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="version">Version:</label>
                    <input type="text" formControlName="version" class="form-control" id="version" placeholder="Version">
                </div>
                <div class="form-group">
                    <label for="confStatus">Configuration Status:</label>
                    <select class="form-control" formControlName="configurationStatus" id="confStatus">
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Deprecated</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="lopaList">Lopa List:</label>
                    <multi-select [options]="lopaOptions" formControlName="lopaIdList"></multi-select>
                </div>
                <div class="form-group">
                    <label for="lrus">LRUs:</label>
                    <multi-select [options]="lruOptions" formControlName="lrusId"></multi-select>
                </div>
                <div class="form-group">
                    <label for="contentTypeList">Content Type List:</label>
                    <multi-select [options]="contentTypeOptions" formControlName="contentTypeIdList"></multi-select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Server Groups </div>
                    <div class="panel-body">
                        <server-group *ngFor="let serverGroup of configForm.controls.serverGroupList.controls; let i = index" [(data)]="configForm.controls.serverGroupList.controls[i]" (deleteClick)="removeServerGroup(i)"></server-group>
                        <div class="text-right pt-2">
                            <button type="button" class="btn btn-success btn-sm" (click)="addServerGroup()">Add Server Group</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right paddingtop20">
            <button type="submit" [disabled]="!configForm.valid" class="btn btn-primary">{{submitlabel}}</button>
        </div>
    </form>
</div>
