<div class="row">
    <div class="col-12">
        <div class="input-group">
            <input type="text" placeholder=" Please enter your search input" class="form-control" [(ngModel)]="fields.jobName">
            <div class="input-group-btn">
                <button class="btn btn-default" (click)="openSearchPopup()"><i class="fa fa-chevron-down " aria-hidden="true "></i></button>
            </div>
            <div class="input-group-btn">
                <button class="btn btn-primary" (click)="serachResults()">Search</button>
            </div>
        </div>
    </div>
</div>
<div class="search-popup" [hidden]="!flag">
    <div>
        <div class="">Name:</div>
        <input type="text" class="form-control" [(ngModel)]="fields.jobName" />
    </div>
    <div>
        <div>Start Date:</div>
        <div>
            <date-picker [(date)]="fields.jobStartDate"></date-picker>
        </div>
    </div>
    <div>
        <div>End Date:</div>
        <div>
            <date-picker [(date)]="fields.jobEndDate"></date-picker>
        </div>
    </div>
    <!--<div>-->
        <!--<div>Description:</div>-->
        <!--<input type="text" class="form-control" [(ngModel)]="fields.orderDescription" />-->
    <!--</div>-->
    <div>
        <div>Status:</div>
        <select class="search-select" [(ngModel)]="fields.jobStatus">
            <option value=""> Select Order Status</option>
            <option value="Complete">Complete</option>
            <option value="Incomplete">Incomplete</option>
            <option value="Packaged">Packaged</option>
        </select>
    </div>
</div>
<div class="silk-screen" *ngIf="flag" (click)="hidePopup()"></div>
