*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #FFF;
    font-family: arial;
}


/*.thales-header-bottom
{
  border-top: 1px solid #FFF;
  margin-top: 50px;
  background: #DDE4EC !important;
  border-bottom: 1px solid #FFF;
  
}*/

.navbar-inverse .navbar-nav > li > a {
    color: #5DBFD4;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #69A3B9;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #FFF;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: 0px solid #ddd;
    /* margin-top: -20px; */
    padding: 20px;
    background: #f5F5F5;
}

.btn {
    border-radius: 0px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

hr {
    border: 2px solid #253746;
}

.float-btns {
    text-align: right;
}

.iconFa {
    cursor: pointer;
}

.modal-dialog {
    width: 95%;
}

.modal-body {
    height: 400px;
}

thead {
    background: #253746;
    color: #FFF;
    text-align: center;
}

.tabshome-md6 {
    width: 80%;
}

.border-right {
    border-right: 2px solid #253746;
}

.small-popup .modal-body {
    height: 50%;
}

.small-popup .modal-dialog {
    width: 50%;
}

.btnlink > a {
    color: #FFF;
}

.btnlink > a:hover {
    text-decoration: none;
}

.successMsg {
    float: left;
    color: green;
    font-weight: bold;
    display: none;
}

.panel-heading {
    background: #465562 !important;
    color: #FFF !important;
}

.toplefticons {
    background: #FFF;
    margin-top: 10px;
    margin-bottom: -40px;
    padding-left: 10px;
    height: 60px;
    text-align: left;
}

.titleOptions {
    padding-top: 20px;
}

.titleOptions a {
    cursor: pointer;
}

.sample-app-content p,
.sample-app-content nav {
    padding: 0px;
}

.navbar-nav>li>a {
    padding: 10px !important;
}

.whiteColor {
    color: #FFF;
}

.whiteColor:hover {
    color: #EDF7F9;
}


/* .tabs {
    border: 1px solid #ddd;
    padding-left: 10px;
    background: #F5F5F5;
}
 */

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

app-dialog {
    z-index: 1050;
    position: relative;
}
