<div class="container packaging-page">
    <div class="row">
        <div class="col-6 search-component
">
            <search-component></search-component>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Package Name</th>
                            <th>Configuration Name</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Done</td>
                            <td>
                                <a routerLink="/packaging/view">View</a> | <a routerLink="/packaging/view">Re-Packaging</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DFDST46-GF3TD-G4564-TDG464-6ERG-TE64</td>
                            <td>Package 1</td>
                            <td>config 1</td>
                            <td>01-25-2017</td>
                            <td>Inprogress</td>
                            <td>
                                <a routerLink="/packaging/view">Cancel</a> | <a routerLink="/packaging/view">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-dialog [(visible)]="showDialog">
                <div class="order-detail-popup">
                    <h3>Order Details</h3>
                    <div class="row">
                        <div class="col-3">
                            <ul class="menu vertical">
                                <li>
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">Filter 1</label>
                                </li>
                                <li>
                                    <input id="checkbox2" type="checkbox">
                                    <label for="checkbox2">Filter 2</label>
                                </li>
                                <li>
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">Filter 3</label>
                                </li>
                                <li>
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">Filter 4</label>
                                </li>
                                <li>
                                    <input id="checkbox5" type="checkbox">
                                    <label for="checkbox5">Filter 5</label>
                                </li>
                                <li>
                                    <input id="checkbox6" type="checkbox">
                                    <label for="checkbox6">Filter 6</label>
                                </li>
                                <li>
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">Filter 7</label>
                                </li>
                                <li>
                                    <input id="checkbox8" type="checkbox">
                                    <label for="checkbox8">Filter 8</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-9 filter-results">
                        </div>
                    </div>
                    <div class="row align-right">
                        <button (click)="showDialog = !showDialog" class="button">Close</button>
                    </div>
                </div>
            </app-dialog>
        </div>
    </div>
</div>
