<div class="row profile-container">
    <div class="col-2">
        <nav class="nav flex-column nav-pills nav-justified">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['content-type']">Content Types</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['configuration']">Configurations</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['rule']">Rules</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['bundle']">Bundles</a>
        </nav>
    </div>
    <div class="col-10 tab-container">
        <div class="panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
